* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*naviagtion css*/

.header-container {
  
   margin-bottom: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 30px;
    overflow: hidden;
    
}

nav {
    display: inline-block;
    flex: 1;

}

nav ul {
    list-style-type: none;
  text-align: center;
  
}

nav li {
    display: inline-block;
    padding: 0 25px;
}

nav li a {
    text-decoration: none;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    transition: color 0.4s;
}

nav li a:hover {
    color: whitesmoke;
}


.btn {
margin-right: 5px;
background-color: inherit;
    font-size: 20px;
    border: none;
    padding: 8px 10px;
    transition: color 0.5s;
    transition: border 0.8s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btn:hover {
    color: #e7dbdb;
    border: 1.5px solid rgb(14, 13, 13);
    
}

/*affects all main items*/
section {
    margin: 0 90px;
}

/*main items of website*/

.desc-container {
  
    margin-bottom: 70px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.col-2 {
    flex: 1;
    
}

.col-2 img {
    padding: 2.5%;
}

.col-2 img:hover {
    opacity: 0.7;
    cursor: pointer;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', ;
}

p {
    font-size: 20px;
    color: rgba(2, 2, 2, 0.699);
  
}




.btn1 {
    margin-top: 40px;
    margin-right: 5px;
    background-color: black;
        font-size: 20px;
        color: aliceblue;
        border: none;
        border-radius: 5%;
        padding: 10px 18px;
        transition: color 0.5s;
        transition: border 0.8s;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn1:hover {
    color: black;
    background-color: #fcf1f14f;
    cursor: pointer;
    
}

/*saying */
.saying-container {
    margin-bottom: 70px;
    padding:20px 0;
    background-color: rgba(138, 152, 182, 0.151);

}
.saying {
    text-align: center;

}

h2 {
    font-size: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
     margin-bottom: 30px;
     
}

/* Recommended choices*/
.best-seller {
    margin-bottom: 50px;
}


.seller-desc {
    text-align: center;
    
}

h3 {
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.col-4 {
    flex-basis: 25%;
    padding: 3.5%;
    
    
}

.col-4 img:hover {
    opacity: 0.5;
    cursor: pointer;

}



i {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(212, 18, 51);
}

/*collection css*/
.col-container {
    margin-bottom: 100px;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', ;
}

p {
    font-size: 20px;
    color: rgba(2, 2, 2, 0.699);
  
}



.btn2 {
    margin-top: 40px;
    margin-right: 5px;
    background-color: inherit;
        font-size: 20px;
        color: rgb(3, 3, 3);
        border: 2px solid black;
        
        padding: 10px 18px;
        transition: color 0.5s;
        transition: border 0.8s;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn2:hover {
    color: rgba(0, 0, 0, 0.329);
    background-color: #fcf1f14f;
    border: 2px solid white;
    cursor: pointer;
    
}


/*men and women collection*/

.choose-men-women-collection {
  margin-bottom: 80px;
}

.row-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.col-2b {
   flex: 1;
   padding: 10px 10px;
}

.col-2b:hover {
    cursor: pointer;
}

.shop-women{
    position: relative;
}

.centered-text1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    background-color: #ffffff28;
    padding: 10px 8px;
   
}

.centered-text1:hover {
    opacity: 0.7;
}

.shop-men {
    position: relative;
}

.centered-text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    background-color: #ffffff28;
    padding: 10px 30px;
}

.centered-text2:hover {
    opacity: 0.7;
}

/*long line*/
 hr {
    margin-bottom: 60px;
    background-color: rgba(138, 152, 182, 0.151);
 }


 /*Store picture centered*/

 .store-picture {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
 }

 .store-picture img {
    background-image: url("pik/hannah-morgan-ycVFts5Ma4s-unsplash.jpg");
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    
 }


 /*form group and title styling*/
.form-group-with-title {
    margin-bottom: 70px;
}

 .form-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
    
 }

 .form {
    margin-left: 20%;
    margin-bottom: 70px;
    
 }

 input[type=text] {
    width: 70%;
    padding: 16px;
    border: 1px solid black;
 }


 .sub-btn {
    background-color: black;
    padding: 17px;
    border: none;
    color: #ffffff;
    margin-bottom: 10px;
  
 }

 .sub-btn:hover {
    color: rgb(0, 0, 0);
    background-color: inherit;
    border: 2px solid rgb(236, 230, 230);
    cursor: pointer;
    
}

/*footer information*/
footer {
    background-color: black;
    padding: 40px;
    
}

.all-foot-info {
    padding: 0 30px;
    
}


.p-infos {
    color: rgba(255, 255, 255, 0.219);
    font-size: small;
    display: inline;
    padding: 0 6px;
}

.cpy-info {
    font-size: small;
    color: rgba(255, 255, 255, 0.219);
}

.col-3 {
    flex: 1;
    margin: 0 50px;
}

.social-media-icons  {
    display: flex;
    justify-content: center;
    
}

.social-media-icons i {
    padding: 0 10px;
}

.social-media-icons i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.logo-footer {
   display: flex;
   justify-content: center;
   
}

.logo-footer img:hover {
    opacity: 0.5;
    
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
       
    }

    .seller-desc {
        margin-bottom: 24%;
    }

    .saying-container {
        background: none;
        
    }
 
     .btn1, .btn2 {
    margin-bottom: 10%;
       }

     .centered-text1 {
    padding: 2px 1px;
     }

     .centered-text2 {
    padding: 2px 1px;
           }

nav {
    display: none;
}

.btn {
    display: none;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 16px;
}

p {
    font-size: medium;
}

}

